body{
    background-color: #0F101B;
    font-size: 18px;
}

.box{
    background-color: #212435;
    height: 600px;
    padding: 40px;
    margin: 10px;
    border-radius: 5px;
    position: relative;
}
.generate-pin{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    background-color: #465FC7;
    font-weight: 600;
    font-size: 24px;
    border: 10px solid #38478F;
    cursor: pointer;
}
.display{
    height: 50px;
    background-color: #3C4152;
    border: 2px solid #858498;
    font-size: 24px;
    color: #fff;
    text-align: center;
}
.grid-container{
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(3, 1fr);
}
.grid-container > div{
    background-color: #414F62;
    color: #fff;
    font-size: 24px;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}
.info{
    background-color: #212435;
    padding: 10px;
    text-align: center;
    border-radius: 40px;
    color: #fff;
    display: none;
}
#submit{
    background-color: #465FC7;
    border: none;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
}